.col-lg-9
  ul.list-group
    - questions.each do |question|
      li.list-group-item
        .row
          .col-sm-12.col-md-8
            h3 = question.title
            p = question.body_excerpt
            - question.tags.each do |tag|
              span.badge.badge-info> = tag.name
            ul.nav
              li.nav-item
                = link_to "View", question, class: "nav-link"
              - if current_user.owns question
                li.nav-item
                  = link_to "Edit", edit_question_path(question), class: "nav-link"
          .col-sm-12.col-md-4
            p.answers
              - answers_amount = question.answers.length
              span.badge.badge-secondary> = answers_amount
              span> Answers
              - if answers_amount > 1
                span.badge.badge-pill.badge-warning 🔥 Popular
            p.user
              span = question.user.email
