h1 Events

p
  | I can see you're most likely in Bogota Area, there are +100 events in the next month. To get free exclusive access to all of them,
  = link_to "please upgrade to a paid plan.", root_path